<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Create or open a label:</h1>
            <p>Type an item code and click Create/Open.  If a label doesn't exist for that code, you can create one.  Otherwise, the existing label will be opened.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Item Code:
                        </div>
                        <input ng-model="vm.productId" type="text" class="form-control"/>
						<span class="input-group-btn">
							<button ng-click="vm.createOrOpenByProductId()" class="btn btn-default">
                                Create / Open
                            </button>
						</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h1>Open an active label:</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="inline-form pull-right">
                <div class="form-group">
                    <label class="radio-inline">
                        <input
                            ng-model="vm.searchCriteria.type"
                            ng-click="vm.search()"
                            value="active"
                            type="radio"
                            name="labelOptions">
                        Active Labels
                    </label>
                    <label class="radio-inline">
                        <input
                            ng-model="vm.searchCriteria.type"
                            ng-click="vm.search()"
                            value="deleted"
                            type="radio"
                            name="labelOptions">
                        Deleted Labels
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div
                ui-grid="vm.gridOptions"
                ui-grid-selection
                ui-grid-resize-columns
            >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="checkbox">
                <input
                    ng-model="vm.searchCriteria.approved"
                    ng-click="vm.search()"
                    type="checkbox"/>
                Display Approved Labels
            </div>
        </div>
        <div class="col-md-6">
            <div ng-if="vm.selectedLabelSummary" class="btn-group pull-right">
                <button ng-click="vm.confirmDeleteSelectedLabel()" class="btn btn-default">Delete</button>
                <button ng-click="vm.navigateToSelectedLabel()" class="btn btn-default">Open</button>
            </div>
        </div>
    </div>
    <jh-alert-error></jh-alert-error>
    <jh-alert></jh-alert>
</div>
