<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Create or open a label:</h1>
            <p>Type an item code and click Create/Open.  If a label doesn't exist for that code, you can create one.  Otherwise, the existing label will be opened.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Item Code:
                        </div>
                        <input ng-model="vm.productId" type="text" class="form-control" ng-required="{{true}}"/>
						<span class="input-group-btn">
							<button id="btn-create-or-open" ng-click="vm.createOrOpenByProductId()" class="btn btn-default">
                                Create
                            </button>
						</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h1>Open an active label:</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group pull-right">
                <button ng-click="vm.search()" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div
                ui-grid="vm.gridOptions"
                ui-grid-selection
                ui-grid-resize-columns
            >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-if="vm.selectedLabelSummary" class="btn-group pull-right">
                <button id="confirm-delete-label" ng-click="vm.confirmDeleteSelectedLabel()" class="btn btn-default">Delete</button>
                <button id="open-label" ng-click="vm.navigateToSelectedLabel()" class="btn btn-default">Open</button>
            </div>
        </div>
    </div>
    <jh-alert-error></jh-alert-error>
    <jh-alert></jh-alert>
</div>
