<div id="confirmation-modal" class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="alert alert-danger">
                <p>{{ vm.message }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <button id="confirmation-modal-cancel" ng-click="vm.cancel()" class="btn btn-danger">Cancel</button>
                <button id="confirmation-modal-confirm" ng-click="vm.confirm()" class="btn btn-default">Confirm</button>
            </div>
        </div>
    </div>
</div>
